#root,html,b {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
}

.lable{
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: #00000088;
    color: white;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


p{
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #a200ff;
  color: #a200ff;
  transform:scale(1.2,1.2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  transform:scale(1.2,1.2);
  border-color: #a200ff;
  color: #a200ff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.htmlScreen iframe{
  width: 1024px;
  height: 919px;
  border: none;
  border-radius: 40px;
  background: #ffffff;
}

