.projects-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}
.projects-h1 {
  align-self: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}
.projects-section {
  display: flex;
  align-items: start;
  gap: 2rem;
  background-color: #1a1a1a00;
  padding: 2rem;
  border-radius: 10px;
}

.project-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.project-details {
  flex: 1;
}

.project-title {
  font-size: 1.8rem;
  color: #fff;
}

.project-role {
  font-size: 1.2rem;
  color: #ccc;
}

.project-description {
  font-size: 1rem;
  color: #aaa;
}
